<main class="news-main">
	<section class="news-main__title-list">
		<ul class="news-main__title-list-wrap"></ul>
	</section>
	<section class="news-main__news">
		<h1 class="news-main__news__title">뉴스 제목</h1>
		<p class="news-main__news__main">뉴스내용</p>
	</section>
</main>
