<main class="news-main">
	<section class="news-main__title-list">
		<ul class="news-main__title-list-wrap"></ul>
	</section>
	<section class="news-main__des">
		<h1 class="news-main__des__title"></h1>
		<p class="news-main__des__main"></p>
		<div class="news-main__des__more">
			<a target="_blank">Read More ></a>
		</div>
	</section>
</main>
