.news-main {
	width: 90%;
	height: 90%;
	margin: 30px;
	display: flex;
}

.news-main__title-list {
	width: 25%;
	height: 100%;
	border: var(--main-border);
	margin-right: 25px;
	& li {
		margin: 30px 20px;
	}
}

.news-main__news {
	width: 75%;
	height: 100%;
	border: var(--main-border);
}

.news-main__news__title {
	margin: 40px;
	font-size: 30px;
	font-weight: 900;
}

.news-main__news__main {
	margin: 0px 40px;
	&::first-letter {
		font-size: 20px;
		font-weight: 600;
	}
}
