<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/css/style.css" />
    <script defer type="module" src="/js/main.js"></script>
	</head>
	<body>
		<body class="center">
      <div class="news center">
        <%- include('./newsComponents/header')%>
        <%- include('./newsComponents/main')%>
      </div>
	</body>
</html>
